@import "../Fonts/Fonts.css";

* {
    -primary-color: #2296f2;
    -font-family-bold: "Cosmata Extra Bold";
    -font-family-semi-bold: "Cosmata Semi Bold";
}

.root {
    -fx-background-radius: 30;
}

.bg-round {
    -fx-background-radius: 30;
}

.root .close-icon {
    -mfx-color: red;
    -fx-opacity: 0.5;
}

.root .close-icon:hover {
    -fx-opacity: 1;
}

.root .minimize-icon {
    -mfx-color: #ffbf37;
    -fx-opacity: 0.5;
}

.root .minimize-icon:hover {
    -fx-opacity: 1;
}

.root .always-on-top-icon {
    -mfx-color: #1cea52;
    -fx-opacity: 0.5;
}

.root .always-on-top-icon:hover {
    -fx-opacity: 1;
}

.rootPane .always-on-top-icon:always-on-top {
    -fx-opacity: 1;
}

.mfx-text-field {
    -fx-font-family: -font-family-semi-bold;
    -fx-border-color: -primary-color;
    -fx-font-size: 18;
}

#passwordvalidatedField:invalid, #emailvalidatedField:invalid {
    -fx-border-color: -mfx-red !important;
}

#emailvalidatedField:invalid {
    -mfx-color: -mfx-red !important;
}

#passwordvalidatedField:invalid .mfx-font-icon {
    -mfx-color: -mfx-red !important;
}

#emailvalidationLabel, #passwordvalidationLabel {
    -fx-font-family: -font-family-semi-bold;
    -fx-font-size: 12;
}

.round-pane {
    -fx-background-color: #fff;
    -fx-background-radius: 20;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-radius: 20;
    -fx-border-color: #fff;
}

.round-img-pane {
    -fx-background-radius: 30;
}

.gradient {
    -fx-background-color: linear-gradient(to top, #222, transparent);
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 10);
}

#chatField, #chatReplyField {
    -fx-background-radius: 20 !important;
    -fx-border-radius: 20;
    -fx-border-width: 2;
    -fx-border-style: solid;
}


.year-month-view > .container > .header > .month-header > .month-label, .year-month-view > .container > .header > .year-header > .year-label, .chart-title {
    -fx-text-fill: #fff !important;
    -fx-font-family: -font-family-bold !important;
}

.year-month-view > .container > .header > .year-header > .previous-button, .year-month-view > .container > .header > .year-header > .next-button, .year-month-view > .container > .header > .month-header > .previous-button, .year-month-view > .container > .header > .month-header > .next-button {
    -fx-background-color: #000 !important;
}

.year-month-view > .container > .header > .year-header > .previous-button:hover, .year-month-view > .container > .header > .year-header > .next-button:hover, .year-month-view > .container > .header > .month-header > .previous-button:hover, .year-month-view > .container > .header > .month-header > .next-button:hover {
    -fx-background-color: lightgray !important
}

.year-month-view > .container > .header > .year-header > .previous-button:pressed, .year-month-view > .container > .header > .year-header > .next-button:pressed, .year-month-view > .container > .header > .month-header > .previous-button:pressed, .year-month-view > .container > .header > .month-header > .next-button:pressed {
    -fx-background-color: gray !important;
}

.year-month-view > .container > .week-label, .year-month-view > .container > .day-of-week-label, .year-month-view > .container > .day-of-month-label {
    -fx-text-fill: #000 !important;
    -fx-font-family: -font-family-semi-bold !important;
}

.year-month-view > .container > .day-not-of-month-label {
    -fx-text-fill: gray !important;
    -fx-font-family: -font-family-semi-bold !important;
}

.year-month-view > .container > .weekend-day {
    -fx-background-color: transparent !important;
}

.year-month-view > .container > .selected-month-date {
    -fx-background-color: #fff !important;
    -fx-text-fill: #000 !important;
}

.year-month-view > .container > .today {
    -fx-background-color: red !important;
    -fx-text-fill: #fff !important;
}

.axis, .axis-label {
    -fx-text-fill: white !important;
    -fx-font-family: -font-family-semi-bold !important;
}

.axis {
    -fx-tick-label-fill: #fff !important;
}

.chart-bar {
    -fx-background-color: -primary-color !important;
    -fx-background-radius: 0 15 15 0 !important;
}

.mfx-pagination .mfx-page:selected {
    -fx-background-color: -primary-color;
}
